/*
 * Link styles
 * https://github.com/WordPress/gutenberg/issues/42319
 */
a {
    text-decoration-thickness: 1px !important;
    text-underline-offset: 0.1em;
}

/* Editor refinements */
.editor-styles-wrapper {
    --radius-card: 12px;
}
.editor-styles-wrapper .lbh-breadcrumb {
    opacity: 0.6;
    pointer-events: none;
}
